#picture-frame {
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  background-color:  #BFCFFF;;
}
img {
  width: 80%;
  height:95vh;
  margin: auto;
  align-items: center;
  border-radius: 10px;
}